<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css'>
		<link rel='stylesheet' href='/default.css'>
	</head>
	<body>
		<nav class="top-bar">
		  <ul class="title-area">
		    <!-- Title Area -->
		    <li class="name">
				<h2>TOUT DOUX</h2> 	 
		    </li>
		    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		    <li class="toggle-topbar menu-icon"><a href="#">pseudo</a></li>
		  </ul>
		</nav>

		<div class="row">
			<div class="large-8  large-centered columns">
				<form method="post" action="/new">
					<input type="text" name="fock" placeholder="ajouter une tache">
				</form>
			</div>
		</div>
		
		<% @tasks.each do |task| %>
		<div class="row task">
			<div class="large-8 large-centered columns">
				<div class="small-7  columns">
					<a href="/<%="un" if !task.open? %>check/<%= task.id %>"><i class="icon-<%="un" if task.open? %>checked"></i></a>
				<%= task.content %>
				</div>
				<div class="small-2 columns">
					<a href="/delete/<%= task.id %>"><i class="icon-trash"></i></a> 
					<a href="/edit/<%= task.id %>"><i class="icon-edit"></i></a>
				</div>	
			</div>
		</div>
		<% end %>

</body>
</html>